body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  background-color: rgb(54, 51, 51);
  list-style-type: none;
  font-size: 15px;
  padding: 0;
  text-align: left;
  color: white;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}
.head-menu{
  list-style-type: none;
}
.last{
  padding-left: 12%;
}
li{
  display: inline-block;
}
li a{
  text-decoration: none;
  margin-left: 80px;
  color:white;
}
